body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

em {
  font-weight: lighter;
}

.title {
  text-align: center;
  margin: auto;
  padding-top: 100px;
}

.profile-image {
  width: 200px;
  height: 250px;
  border-radius: 20%;

}

.pro {
  text-decoration: underline;
}

.Title {
    padding: 3% 15%;
    background-color: #ACBCFF;
    color: white;
}

.navbar {
    padding: 0 0 0 0;
}

.navbar-brand {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: 'Sacramento', cursive;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  color: white;
}

.nav-link:hover {
  text-decoration: overline;
}

.Work {
  text-align: center;
  background: #FF9F9F;
  padding-top: 30px;
  color: #4C6793;
}

.card {
  background-color:#FF9F9F;
  color: white;
  font-family: 'Montserrat';
}

.skills {
  padding-top: 10px;
  text-align: center;
}

.skillrow {
  padding:20px;
}

.skillimage1 {
  width: 200px;
  border-radius: 100%;
  /* float: left;
  margin-right: 30px;
  border-style: ridge; */
}

.skillimage2 {
  width: 200px;
  border-radius: 100%;
  /* float: right;
  margin-left: 30px;
  border-style: ridge; */
}


.contact-foot {
  background-color: #153462;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.social-icons {
  margin: 10px 10px 20px 10px;
  color: white;
}
.social-icons:hover{
  color: #FF9F9F;
}

.message-btn{
    margin-bottom: 30px;
}


.copyrights {
  font-size: 0.75rem;
  padding-top: 30px;
  color: #3E6D9C;
  margin: 0 20px;
  padding: 0;

}

.copyrights:hover {
  color: white;
}
