body {
  font-family: 'Montserrat';
}

em {
  font-weight: lighter;
}

.title {
  text-align: center;
  margin: auto;
}

.profile-image {
  width: 250px;
  height: 300px;
  border-radius: 20%;
}

.pro {
  text-decoration: underline;
}

.Title {
    padding: 3% 15%;
    background-color: #FF4C68;
    color: white;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: 'Sacramento', cursive;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  color: white;
}

.nav-link:hover {
  text-decoration: overline;
}

.Work {
  text-align: center;
  background: #FF9F9F;
  padding-top: 30px;
  color: #4C6793;
}

.skills {
  padding: 0 100px 0 100px;

}

.skillrow {
  padding:20px;
}

.skillimage1 {
  width: 200px;
  border-radius: 100%;
  /* float: left;
  margin-right: 30px;
  border-style: ridge; */
}

.skillimage2 {
  width: 200px;
  border-radius: 100%;
  /* float: right;
  margin-left: 30px;
  border-style: ridge; */
}


.contact-foot {
  background-color: #153462;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.footer-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #3E6D9C;
  margin: 10px 20px 10px 20px;

}

.message-btn{
    margin-bottom: 30px;
}

.footer-link:hover {
  color: #FF6464;
}

.copyrights {
  font-size: 0.75rem;
  padding-top: 30px;
  color: #3E6D9C;
}
